.canvas {
  border: 1px black dotted;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 50px;
  margin-left: 50px;
}

#canvas-draft {
  background-color: transparent;
}
body {
  overflow: hidden;
}
#canvas-container {
  height: 80vh;
  width: 80vh;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  -ms-touch-action: none;
  -webkit-touch-action: none;
}

#textInput {
  display: none;
  position: absolute;
  z-index: 5;
  background-color: transparent;
  background-image: none;
  border: 1px dotted gray;
  height: 1em;
}
